models/*.*
models/pretrained/models/absa/*.*
models/pretrained/tokenizers/absa/*.*
models/pretrained/models/sentiment/*.*
models/pretrained/tokenizers/sentiment/*.*
models/pretrained/tokenizers/parsbert/*.*
models/pretrained/models/parsbert/*.*
models/pretrained/configs/parsbert/*.*
models/state_dicts/parsbert/*.*
models-local/*
replicate-folders.py
parsbert_app.py
parsbert_test.py
absa_app.py
absa_test.py
__pycache__/*.*