<!DOCTYPE html>
<html>
<head>
    <title>Aspect Based Sentiment Analysis</title>
</head>
<body style="background: #f5eded;">
    <div class="login" style="text-align: center;">
    <h1 style="color:rgb(23, 38, 137);">Aspect Based Sentiment Analysis</h1>
    <form id="sentimentForm" action="{{url_for('show_prediction')}}" method="post">
        <label for="comment">Comment:</label><br>
        <input type="text" id="comment" name="comment" style="width: 500px; height: 100px;" placeholder="type a comment about anything">
        <br><br><br><br>
        
        <label for="aspect">Aspect:</label><br>
        <input type="text" id="aspect" name="aspect" style="width: 500px; height: 100px;" placeholder="What aspect of the comment do I analyze?">
        <br><br><br><br>
        
        <button type="submit">Analyze sentiment</button>
    </form>
    <br>
    <p style="color:rgb(23, 38, 137);">{{ input_comment }}</p>
    <p style="color:rgb(23, 38, 137);">{{ aspect_text }}</p>
    <hr></hr>
    <p style="color:rgb(23, 38, 137);">{{ prediction_text }}</p>

</div>
</body>
</html>